<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="mysql">
        <!--   可以配置多种数据库     -->
        <environment id="mysql">
            <!--     MyBatis的事务管理和 JDBC中的事务保持一致   -->
            <transactionManager type="JDBC"></transactionManager>
            <!--使用连接池连接数据库-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/mydb?useSSL=false&amp;useUnicode=true&amp;characterEncoding=utf8&amp;serverTimezone=Asia/Shanghai"/>
                <property name="username" value="root"/>
                <property name="password" value="123"/>
            </dataSource>
        </environment>
        <!--   可以配置多种数据库     -->
    </environments>
    <!--  进行 mapper文件的扫描   -->
    <mappers>
        <!--  mapper文件的相对路径 包括文件的后缀名  -->
        <mapper resource="com/ylb/mapper/FlowerMapper.xml"></mapper>
    </mappers>
</configuration>